/* Vos customisations des classes de Bootstrap */
/* Globals */

h1, h2, h3, h4, h5, h6{
    font-family: 'Arvo', sans-serif;
}
/* Home */

#home{
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: top;
}

/* Who */
.separator{
    width: 125px;
    border-bottom: solid red 2px;
    margin-bottom: 10px;
}
/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
